// global

body,
html {
  width: 100%;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  direction: ltr;
  touch-action: manipulation;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #f5f7fa;
}

a {
  color: #1890ff;
  background-color: transparent;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%; // this will set the window to 100% height

  .wrap {
    padding: 112px 0 24px;
    flex: 1;
    .top {
      text-align: center;
      .head {
        .title {
          font-size: 33px;
          color: rgba(0, 0, 0, 0.85);
          font-family: "Myriad Pro", "Helvetica Neue", Arial, Helvetica,
            sans-serif;
          font-weight: 600;
          position: relative;
          vertical-align: middle;
        }
        .desc {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.45);
          margin-top: 12px;
          margin-bottom: 40px;
        }
      }
    }

    .main {
      display: flex;
      justify-content: center;
      padding: 0 16px;
      margin: 48px 0 24px;
      text-align: center;
    }
    .footer {
      display: block;
      padding: 0 16px;
      margin: 48px 0 24px;
      text-align: center;

      .links {
        margin-bottom: 8px;
        .link-item {
          margin-right: 15px;

          display: inline-block;
          color: rgba(0, 0, 0, 0.45);
          transition: 0.3s;

          &:hover,
          &:active {
            outline: 0;
            text-decoration: none;
          }
        }
      }

      .copyright {
        color: rgba(0, 0, 0, 0.45);
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
