<!-- <ng-container *ngIf="categoryList">


  <nz-table #nzTable [nzData]="categoryList" [nzPageSize]="10">
    <thead>
      <tr>
        <th nzShowCheckbox nzShowRowSelection [nzSelections]="listOfSelection" [(nzChecked)]="allChecked"
          [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
        <th>名称</th>
        <th>账本</th>

        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nzTable.data">
        <tr>
          <td nzShowCheckbox [(nzChecked)]="true" (nzCheckedChange)="refreshStatus()"></td>
          <td>{{data.category}}</td>

          <td>{{data.accountBook}}</td>
          <td><a href="#">Delete</a></td>
        </tr>
        <tr [nzExpand]="data.expand">
          <td></td>
          <td colspan="4">{{data.description}}</td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</ng-container> -->