/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/core.scss";

// 暂时放一些可以toggle的的class

.toggle-tr {
  background: #dddddd;
  color: #4d0a0a;
}

.ant-drawer-body {
  height: 100% !important;
}
