<form
  style="min-width: 458px !important"
  nz-form
  [formGroup]="validateForm"
  (ngSubmit)="submitForm()"
>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"
      >E-mail</nz-form-label
    >
    <nz-form-control [nzSm]="16" [nzXs]="24" nzHasFeedback>
      <input nz-input formControlName="email" id="email" />
      <nz-form-explain
        *ngIf="
          validateForm.get('email').dirty &&
          validateForm.get('email').errors &&
          validateForm.get('email').hasError('required')
        "
        >The input is not valid E-mail!</nz-form-explain
      >
      <nz-form-explain
        *ngIf="
          validateForm.get('email').dirty &&
          validateForm.get('email').errors &&
          validateForm.get('email').hasError('emailTaken')
        "
        >The This email is already taken by others!</nz-form-explain
      >
      <!--
        这个框架会自动的捕捉这个loading的状态, 然后去更新这个loading的小球球
      -->
      <nz-form-explain *ngIf="validateForm.get('email').pending">
        Validating...
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired
      >Password</nz-form-label
    >
    <nz-form-control [nzSm]="16" [nzXs]="24" nzHasFeedback>
      <input
        nz-input
        type="password"
        id="password"
        formControlName="password"
        (ngModelChange)="updateConfirmValidator()"
      />
      <nz-form-explain
        *ngIf="
          validateForm.get('password').dirty &&
          validateForm.get('password').errors
        "
        >Please input your password!</nz-form-explain
      >
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired
      >Confirm
    </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" nzHasFeedback>
      <input
        nz-input
        type="password"
        formControlName="checkPassword"
        id="checkPassword"
      />
      <nz-form-explain
        *ngIf="
          validateForm.get('checkPassword').dirty &&
          validateForm.get('checkPassword').errors
        "
      >
        <ng-container
          *ngIf="validateForm.get('checkPassword').hasError('required')"
        >
          Please confirm your password!
        </ng-container>
        <ng-container
          *ngIf="validateForm.get('checkPassword').hasError('confirm')"
        >
          Two passwords that you enter is inconsistent!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired>
      <span>
        Username
        <nz-tooltip nzTitle="What do you want other to call you">
          <i nz-tooltip class="anticon anticon-question-circle-o"></i>
        </nz-tooltip>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24" nzHasFeedback>
      <input nz-input id="username" formControlName="username" />
      <nz-form-explain
        *ngIf="
          validateForm.get('username').dirty &&
          validateForm.get('username').errors
        "
        >Please input your username!</nz-form-explain
      >
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <label nz-checkbox formControlName="agree">
        <span>I have read the <a>agreement</a></span>
      </label>
      <nz-form-explain
        *ngIf="
          validateForm.get('agree').dirty && validateForm.get('agree').errors
        "
        >You should tick the agreement</nz-form-explain
      >
    </nz-form-control>
  </nz-form-item>
  <nz-form-item
    nz-row
    style="margin-bottom:8px;display: flex;justify-content: space-between;"
  >
    <button
      nz-button
      nzType="primary"
      type="button"
      [routerLink]="['/auth']"
    >
      返回
    </button>
    <button nz-button nzType="primary" type="submit">Register</button>
  </nz-form-item>

  <nz-alert
    *ngIf="generateStatus === 1; else: errorView"
    nzType="success"
    nzMessage="创建用户成功"
    nzDescription="创建用户成功, 2秒后跳转到登录界面"
  >
  </nz-alert>
  <ng-template #errorView>
    <nz-alert
      *ngIf="generateStatus === -1"
      nzType="error"
      nzMessage="创建用户失败"
      nzDescription="创建用户失败"
    >
    </nz-alert>
  </ng-template>
</form>
