:host ::ng-deep .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

/* <i nz-icon type="left" theme="outline"></i> */
:host ::ng-deep .anticon-left {
  background-image: url('../../../assets/images/icons/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
}
