@import '~antd/dist/antd.css';

@import "./styles/var_color";

#root {
  height: 100vh;
}

.App {
  text-align: center;
}

.ant-layout {
  height: 100%;
}

.ant-layout-header {
  height: auto;
  padding-left: 20px;
}

.ant-layout-header, .ant-layout-content {
  background: white;
}


// 下面是一些全局的变量

body {
  font-family: PingFang SC, "\5FAE\8F6F\96C5\9ED1", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  color: #303030;
  line-height: 1.5;
}
