<div class="container">
  <div class="wrap">
    <div class="top">
      <!-- title here -->
      <div class="head"><span class="title"> 这个是标题 </span></div>
      <div class="desc">Every Recording in Life</div>
    </div>
    <div class="main"><router-outlet></router-outlet></div>
    <div class="footer">
      <div class="links">
        <a class="link-item" href="#">Help</a>
        <a class="link-item" href="#">Privacy</a>
        <a class="link-item" href="#">Terms</a>
      </div>
      <div class="coypright">
        Copyright <i class="anticon anticon-copyright"></i> 2018
        <a href="#">澳中</a>Product
      </div>
    </div>
  </div>
</div>
