<div class="container">
  <div class="wrap">
    <div class="top">
      <!-- title here -->
      <div class="head">
        <span class="title">
          Wang's Inbox
        </span>
      </div>
      <div class="desc">
        旺的Inbox,生活汇总大杂烩
      </div>
    </div>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
    <div class="footer">
      <div class="links">
        <a class="link-item" href="#">帮助</a>
        <a class="link-item" href="#">隐私</a>
        <a class="link-item" href="#">条款</a>
      </div>
      <div class="coypright">
        Copyright <i class="anticon anticon-copyright"></i> 2018 <a href="#">澳中</a>出品
      </div>
    </div>
  </div>
</div>