
// font
$font-family: PingFang SC,"微软雅黑", Arial;
$font-weight: 400;
$number-font-family: Avenir, Arial;
$head-font-weight: 500;
$normal-font-weight: 400;
$bolder-font-weight: 700;
$number-font-weight: 900;
$font-line-height:1.5;

// font
$small-font-size: 12px;
$light-small-font-size: 13px;
$base-font-size: 14px;
$middle-font-size:15px;
$big-font-size: 18px;
$huge-font-size-preserve: 20px;
$huge-font-size: $big-font-size;
$super-font-size: 22px;
// *next can use gigantic
$max-font-size:30px;
$text-line-height: 1;
