<form nz-form [formGroup]='costForm' (ngSubmit)="save()">
  <div nz-row>
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzFor="accountbook">Account Book
      </nz-form-label>
      <nz-form-control [nzSpan]="17">
        <!-- <input nz-input name="accountbook" id="accountbook" formControlName='accountBook'> -->
        <nz-select name="accountbook" style="width: 140px;" formControlName='accountBook'>
          <nz-option *ngFor="let accountbookItem of accountBookList" [nzValue]="accountbookItem" [nzLabel]="accountbookItem"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-row>
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzFor="cost">Cost</nz-form-label>
      <nz-form-control [nzSpan]="5">
        <nz-input-group [nzPrefix]="costPreView">
          <input style="width: 140px;" nz-input name="cost" id="cost" formControlName='cost'>
        </nz-input-group>
        <ng-template #costPreView><i nz-icon type="wallet" theme="outline"></i></ng-template>
        <nz-form-explain *ngIf="costForm.get('cost').dirty && costForm.get('cost').errors">Please
          input the cost!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </div>
  <nz-divider></nz-divider>
  <div nz-row>
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzFor="category">Category</nz-form-label>
      <nz-form-control [nzSpan]="7">
        <!-- <input nz-input name="category" type="category" id="category" formControlName='category'> -->
        <nz-select name="category" style="width: 140px; margin-right: 10px;" formControlName='category' (ngModelChange)="resetSubCategorylist($event)">
          <nz-option *ngFor="let p of categoryList" [nzValue]="p.category" [nzLabel]="p.category"></nz-option>
        </nz-select>
        <nz-select name="subCategory" style="width: 180px;" formControlName='subCategory'>
          <nz-option *ngFor="let p of subCategoryList" [nzValue]="p" [nzLabel]="p"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <!-- <nz-form-item>
      <nz-form-control [nzSpan]="10">

      </nz-form-control>
    </nz-form-item> -->
  </div>
  <div nz-row>
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzFor="date">Date</nz-form-label>
      <nz-form-control [nzSpan]="17">
        <!--   (ngModelChange)="onChange($event)" (nzOnOk)="onOk($event)" dsiable event, use formcontrolname instead -->
        <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" name="costDate" id="date" formControlName='costDate'></nz-date-picker>
        <nz-form-explain *ngIf="costForm.get('costDate').dirty && costForm.get('costDate').errors">Please
            input the Date!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </div>
  <nz-divider></nz-divider>
  <div nz-row>
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzFor="note">Note</nz-form-label>
      <nz-form-control [nzSpan]="18" style="width: 330px">
        <!-- <nz-input-group [nzPrefix]="notePreView"> -->
        <textarea placeholder="leave some note here" rows="4" nz-input formControlName='note'></textarea>
        <!-- </nz-input-group> -->
        <!-- <ng-template #notePreView> <i nz-icon type="edit" theme="outline"></i></ng-template> -->
      </nz-form-control>
    </nz-form-item>
  </div>

  <div nz-row>
    <nz-form-label [nzSpan]="5"></nz-form-label>
    <div nz-col nzSpan='24' style="width: 500px;display: flex;justify-content: space-evenly;flex-direction: row;">

      <button nz-button type="button" (click)="save()" nzType="primary" nzBlock style="width:30%">Save</button>
      <button nz-button type="button" (click)="save()" nzType="primary" nzBlock style="width:30%">Save and New</button>



    </div>


  </div>
</form>