<!-- add input container -->
<div style="    margin-bottom: 2rem;
margin-top: .5rem;">
  <nz-input-group nzSearch nzSize="large" [nzPrefix]="expandBtn" [nzSuffix]="createBtn">
    <input style="    padding-left:3rem;background-color: #32363a;
    color: white;border: #32363a" type="text"
      nz-input placeholder="input your todo " #todo (keyup.enter)="createTodo(todo.value)">
  </nz-input-group>
  <ng-template #createBtn>
    <button nz-button nzType="primary" nzSize="large" nzSearch (click)="createTodo(todo.value)">To-Do</button>
  </ng-template>
  <ng-template #expandBtn>
    <i nz-icon type="api" style="cursor:pointer;color: white" theme="outline" (click)="showModalMiddle()"></i>
  </ng-template>
  <nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleMiddle" nzTitle="Vertically centered modal dialog"
    (nzOnCancel)="handleCancelMiddle()" (nzOnOk)="handleOkMiddle()">
    <p>some contents...</p>
    <p>some contents...</p>
    <p>some contents...</p>
  </nz-modal>
</div>
<!-- table container -->
<ng-container *ngIf="inboxList">
  <nz-table #todoTable [nzData]="inboxList" [nzShowPagination]="inboxList.length >8? true:false" [nzPageSize]="8"
    >

    <tbody>
      <ng-container *ngFor="let data of todoTable.data; let i = index">


        <tr>

          <td style="width: 180px;">
            <label style="    display: flex;
              justify-content: flex-start;
              align-items: center;"
              nz-checkbox [ngModel]="data.status" (click)="toggleTodo(data,i,'inbox')"></label>

          </td>
          <td style="cursor:pointer" (click)="openComponent(data)"><span class="td-title">{{data.title}}</span> </td>
          <td>
            <i nz-icon type="left-circle" style="font-size: 18px;
          color: #08c;" theme="outline" (click)="openComponent(data)"></i>
          </td>

        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</ng-container>
<nz-divider [nzText]="archievedView">
  <ng-template #archievedView>
    <span style="cursor:pointer" (click)="displayArchieve=!displayArchieve">
      <i nz-icon [type]="displayArchieve?'caret-up' :'caret-down'" theme="outline"></i>
      Archieved
    </span>
  </ng-template>
</nz-divider>
<!-- archieve -->
<ng-container *ngIf="inboxList&&displayArchieve">
  <nz-table #archieveTable [nzData]="archieveList" [nzShowPagination]="false" >

    <tbody>
      <ng-container *ngFor="let data of archieveTable.data;let i = index">


        <tr>
          <td style="width: 180px;">
            <label style="    display: flex;
                justify-content: flex-start;
                align-items: center;"
              nz-checkbox [ngModel]="data.status" (click)="toggleTodo(data,i,'archieve')"></label>

          </td>
          <!--  (click)="openComponent(data)"
 (click)="openComponent(data)" -->
          <td style="cursor:pointer">
            <span class="td-title" style="text-decoration: line-through;">{{data.title}}</span>
          </td>
          <td>
            <i nz-icon type="left-circle" style="font-size: 18px;
            color: #08c;" theme="outline"></i>
          </td>

        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</ng-container>