<nz-tabset [nzType]="'line'">
  <nz-tab nzTitle="支出类别修改" (nzClick)="activeTab('cost')">
    <ng-container *ngIf="type ==='cost'">
      <app-category-edit [type]="type"></app-category-edit>

    </ng-container>
  </nz-tab>
  <nz-tab nzTitle="收入类别修改" (nzClick)="activeTab('income')" [nzDisabled]="false">
    <ng-container *ngIf="type ==='income'">
      <app-category-edit [type]="type"></app-category-edit>

    </ng-container>
  </nz-tab>
  <nz-tab nzTitle="高级设定" [nzDisabled]="true">
    Content of Tab Pane 3
  </nz-tab>
</nz-tabset>